.display {
  width: 180px;
  height: 50px;
  text-align: right;
  background: white;
  border-top: solid gainsboro 5px;
  border-bottom: solid gainsboro 5px;
  border-right: solid gainsboro 5px;
  border-left: solid gainsboro 5px;
  border-radius: 10px;
  font-size: 30px;
}

